<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>

    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Mac LeetCode LeaderBoard</h1>

    <div>
        <button onclick="showOverall()">Overall</button>
        <button onclick="showWeekly()" id="weekly">Weekly</button>
        <button onclick="showRecentSubmissions()">Recent Submissions</button>
        
    </div>

    <table id="leaderboard">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Username</th>
                <th>Easy</th>
                <th>Medium</th>
                <th>Hard</th>
                <th>Total</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <% user_solved.forEach(function(user, index) { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><a href="https://leetcode.com/<%= user.name %>"><%= user.name %></a></td>
                    <td><span id="easy_<%= index %>"><%= user.easy %></span></td>
                    <td><span id="medium_<%= index %>"><%= user.medium %></span></td>
                    <td><span id="hard_<%= index %>"><%= user.hard %></span></td>
                    <td><span id="total_<%= index %>"><%= user.total %></span></td>
                    <td><span id="points_<%= index %>"><%= user.points %></span></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <table id="recentSubmissionsTable" style="display: none;">
        <thead>
            <tr>
                <th>Sno</th>
                <th>Username</th>
                <th>Time</th>
                <th>Problem</th>
                <th>Verdict</th>
            </tr>
        </thead>
        <tbody>
            <% var serialNumber = 1; %>
            <% submissions.forEach(function(submission) { %>
                <% if (serialNumber <= 200) { %>
                    <tr>
                        <td><%= serialNumber++ %></td>
                        <td><a href="https://leetcode.com/<%= submission.user %>"><%= submission.user %></a></td>
                        <td><%= submission.time %></td>
                        <td><a href="https://leetcode.com/problems/<%= submission.titleSlug %>"><%= submission.title %></a></td>
                        <td><%= submission.statusDisplay %></td>
                    </tr>
                <% } else { %>
                    <% return; // Break out of the loop %>
                <% } %>
            <% }); %>
            

        </tbody>
    </table>
    <script>
        var userSolvedData = JSON.parse('<%- JSON.stringify(user_solved) %>');
    
        function updateSerialNumbers() {
            var rows = document.getElementById("leaderboard").getElementsByTagName("tbody")[0].getElementsByTagName("tr");
            for (var i = 0; i < rows.length; i++) {
                rows[i].getElementsByTagName("td")[0].innerText = i + 1; // Update serial number
            }
        }
    
        function showOverall() {

            document.getElementById("leaderboard").style.display = "table";
            document.getElementById("recentSubmissionsTable").style.display = "none";
            var rows = document.getElementById("leaderboard").getElementsByTagName("tbody")[0].getElementsByTagName("tr");
            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName("td");
                // Update values for overall view

                // update name
                cells[1].innerHTML = `<a href="https://leetcode.com/${userSolvedData[i].name}">${userSolvedData[i].name}</a>`;
                cells[2].innerText = userSolvedData[i].easy; // Easy
                cells[3].innerText = userSolvedData[i].medium; // Medium
                cells[4].innerText = userSolvedData[i].hard; // Hard
                cells[5].innerText = userSolvedData[i].total; // Total
                cells[6].innerText = userSolvedData[i].points; // Points
            }
    
            updateSerialNumbers(); // Update serial numbers after updating overall view
        }



    
        function showWeekly() {

            document.getElementById("leaderboard").style.display = "table";
            document.getElementById("recentSubmissionsTable").style.display = "none";
    var rows = document.getElementById("leaderboard").getElementsByTagName("tbody")[0].getElementsByTagName("tr");
    var modifiedUserSolvedData = [];

    for (var i = 0; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName("td");
        // Calculate modified values for weekly view
        var modifiedEasy = userSolvedData[i].easy - userSolvedData[i].problems[1];
        var modifiedMedium = userSolvedData[i].medium - userSolvedData[i].problems[2];
        var modifiedHard = userSolvedData[i].hard - userSolvedData[i].problems[3];
        var modifiedTotal = userSolvedData[i].total - userSolvedData[i].problems[0];
        var modifiedPoints = modifiedEasy + 2 * modifiedMedium + 4 * modifiedHard;

        // Create an object with modified values
        var modifiedUser = {
            name: userSolvedData[i].name,
            easy: modifiedEasy,
            medium: modifiedMedium,
            hard: modifiedHard,
            total: modifiedTotal,
            points: modifiedPoints
        };

        // Add the modified object to the new array
        modifiedUserSolvedData.push(modifiedUser);


    }

    // Sort the modifiedUserSolvedData according to the points
    
    modifiedUserSolvedData.sort(function(a, b) {
        return b.points - a.points;
    });


    for (var i = 0; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName("td");
        // Update values for weekly view
        // update name with modifiedUserSolvedData

        cells[1].innerHTML = `<a href="https://leetcode.com/${modifiedUserSolvedData[i].name}">${modifiedUserSolvedData[i].name}</a>`;
        cells[2].innerText = modifiedUserSolvedData[i].easy; // Easy
        cells[3].innerText = modifiedUserSolvedData[i].medium; // Medium
        cells[4].innerText = modifiedUserSolvedData[i].hard; // Hard
        cells[5].innerText = modifiedUserSolvedData[i].total; // Total
        cells[6].innerText = modifiedUserSolvedData[i].points; // Points
    }

    
}

function showRecentSubmissions() {
    document.getElementById("leaderboard").style.display = "none";
    document.getElementById("recentSubmissionsTable").style.display = "table";
}

    </script>
    
    
</body>
</html>
